/* body {
    font-family: 'Poppins', sans-serif;
}

.title-shot{
    text-align: center;
}
.title-box {
    margin-top: 20px;
    display: inline-block;
    background-color: #f4a538;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 5px 15px;
    position: relative;
    border-radius: 3px;
}

.title{
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 600;
    color: #6d5f5f;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

header {
    text-align: center;
    background-color: #c5cfd6;
    text-transform: uppercase;
    color: #616161;
    text-decoration: none;
    padding: 20px;
    font-size: 1.25rem;
}

nav a:hover {
    color: #4299e1;
}

.card {
    position: relative !important;
    padding: 13px !important;
    display: flex !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #2e3035 !important;
    background-clip: border-box !important;
    border: 1px solid rgba(122, 32, 32, 0.125) !important;
    border-radius: .75rem !important;
}

.card:hover{
    background-color: #F5AB35 !important;
}
.card-img-top {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: .75rem !important;
    border-top-right-radius: .75rem !important;
}

.card-title {
    font-weight: 600;
    font-size: 1.125rem;
    color: #7e7777;
    line-height: 1.5;
}

.card-text {
    text-transform: uppercase;
    color: #7e7777;
} */


/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.button-container a {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.btn-success {
    background-color: #4CAF50;
}

.btn-success:hover {
    background-color: #45a049;
}

.btn-primary {
    background-color: #007bff;
}
    
.card-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */