{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisements</title>
    <link rel="stylesheet" href="{% static 'css/advertisement.css' %}">
</head>

<body>
    <div class="container">
        {% for ad in advertisements %}
        <div class="advertisement-card" style="background-image: url('{{ ad.image.url }}');">
            <p>{{ ad.text }}</p>
        </div>
        {% empty %}
        <p>No advertisements available.</p>
        {% endfor %}
    </div>
</body>

</html>
