{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
</head>

<body>
    <section class="categories">
        <h2>Category</h2>
        <p>Browse all your favorite categories</p>
        <div class="category-container">
            <div class="category-card">
                <div class="category-list">
                    {% for category in categories %}
                    <div class="category-item">
                        <a href="#">{{ category.name }}</a>
                        <span>({{ category.item_count|default:"00" }})</span>
                    </div>
                    {% empty %}
                    <p>No categories available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>
