{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Self View</title>
    <link rel="stylesheet" href="{% static 'css/myself.css' %}">

</head>

<body>
    <div>
        {% for item in myself %}
        <div class="myself-item">
            <video controls>
                <source src="{{ item.video.url }}" type="video/mp4">
            </video>
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            {% if item.read_more_link %}
            <a href="{{ item.read_more_link }}" target="_blank">Read More</a>
            {% endif %}
            <p>Created At: {{ item.created_at }}</p>
        </div>
        {% empty %}
        <p>No information available.</p>
        {% endfor %}
    </div>
</body>

</html>