{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Posts</title>
    <link rel="stylesheet" href="{% static 'css/travel.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Travel Posts Section -->
        <section class="travel-posts">
            <h2>Travel Posts</h2>
            <div class="card-container">
                {% for travel in travels %}
                <div class="post">
                    <img src="{{ travel.image_url.url }}" alt="{{ travel.title }}">
                    <div class="post-content">
                        <h2>{{ travel.title }}</h2>
                        <p>{{ travel.description }}</p>
                        <a href="{{ travel.read_more_link }}" class="read-more">Read More</a>
                    </div>
                </div>
                {% empty %}
                <p>No travel posts available.</p>
                {% endfor %}
            </div>
        </section>
    </div>
</body>

</html>